*~
#*
*.pyc
*.tex
*.dvi
submit/output
submit/error
submit/experiment.log

# nonuseful files
noise2d/
.ipynb_checkpoints/              
contour/                         
corr_results/                    
data_gen.ipe                     
data_gen.png                     
data_generation.png              
eye_penalty_slides.pdf           
figures/                         
fracRN_results/                  
my_computer_binary_r_results/    
my_computer_corr_results/        
noise_results/                   
old_corr_results/                
old_figures/                     
old_montage/                     
old_r_results/                   
old_val/                         
r_results/                       
random/                          
result_enet/                     
result_eye/                      
results_0.00/                    
run5.numbers                     
run6.numbers                     
run7.numbers                     
run7_analysis.ipynb              
soft_threshold.ipe               
soft_threshold.png               
test.py                          
theta.npy                        
tmp/                             
tmp_mean.csv                     
triangle.ipe                     
triangle.png                     
val/                             
val0.00/                         
val_binaryR/                     
val_corr/                        
val_fracR/                       
val_r/                           
val_wob/                         
weekly_report.pdf                
weekly_report.tex                
writeup.bbl                      
writeup.blg                      
writeup.dvi                      
writeup.pdf                      
writeup.tex                      